#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  pulse-app.service
BindsTo=pulse.service
After=pulse.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/pulse-app.pid %t/pulse-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/pulse-app.pid \
    --cidfile %t/pulse-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/pulse.pod-id --replace -d --name  pulse-app \
    --volume pulse_data:/data:z \
    --env PULSE_AUTH_USER=admin \
    --env PULSE_AUTH_PASS=Nethesis,1234 \
    ${PULSE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/pulse-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP pulse-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/pulse-app.ctr-id
PIDFile=%t/pulse-app.pid
Type=forking

[Install]
WantedBy=default.target
